h1{
	color: yellow;
}


.content{
	width: 1480px;
	height: 920px;
	margin: 15px;
}

.tupian{
	width: 176px;
	height: 280px;
	margin-right: 80px;
	margin-top: 20px;
	float: left;
	border: 2px blue solid;
}

.tupian img{
	margin-left: 3px;
	margin-top: 3px;
	width: 170px;
	height: 230px;
}
.tupian h3{
	text-align: center;
}

.tupian2{
	width: 176px;
	height: 280px;
	margin-top: 20px;
	margin-right: 0px;
	float: left;
	border: 2px blue solid;
}

.tupian2 img{
	margin-left: 3px;
	margin-top: 3px;
	width: 170px;
	height: 230px;
}
.tupian2 h3{
	text-align: center;
}

.tupian a:hover img{
	width: 250px;
	height: 290px;
}

.tupian2 a:hover img{
	width: 250px;
	height: 290px;
}

